<div id="results">
  <% if @results %>
    <p><%= @results['hits'].count %> results (<%= @results['processingTimeMs'] %>ms)</p>

    <div class="results-grid">
      <% @results['hits'].each do |result| %>
        <a class="result" href="<%= result['url'] %>" target="_blank">
          <% if result['image'] %>
            <div class="image has-image" style="background-image:url(<%= result['image'] %>);"></div>
          <% else %>
            <div class="image"></div>
          <% end %>

          <div class="content">
            <h3><%= sanitize result['name'] %></h3>
            <p><%= result['categories'][0] %></p>

            <div class="meta">
              <p><%= result['status'].upcase.split(" - ")[0] %></p>
            </div>
          </div>
        </a>
      <% end %>

      <% if @results['hits'].empty? %>
        <p>No results.</p>
      <% end %>
    </div>
  <% end %>
</div>